/* General Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor del Formulario */
.container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Título */
.container h2 {
  font-size: 1.8rem;
  color: #2c3e50;
  margin-bottom: 1rem;
  font-weight: 600;
}

/* Estilos del Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Input Estilo */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border: 1px solid #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Botón de Registrar */
button[type="submit"] {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Mensajes */
.message {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Ocultos inicialmente */
}

.message.success {
  background-color: #28a745;
}

.message.error {
  background-color: #dc3545;
}

/* Responsividad */
@media screen and (max-width: 480px) {
  .container {
      width: 90%;
      padding: 20px;
  }

  input[type="text"], button[type="submit"] {
      font-size: 0.9rem;
  }
}

/* Notificaciones */
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 1rem;
  opacity: 1;
  z-index: 1000;
  transform: translateX(0);
  animation: fadein 0.5s ease;
}

.notification.success {
  background-color: #28a745;
  color: #fff;
}

.notification.error {
  background-color: #dc3545;
  color: #fff;
}

.notification.show {
  display: block;
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateX(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Alert Error Flashing */
.alert-error-flashing {
  animation: flash-red 1s infinite;
}

@keyframes flash-red {
  0%, 100% {
      background-color: red; /* Fondo rojo */
  }
  50% {
      background-color: #fff; /* Fondo blanco */
  }
}
