:root {
  --primary-color: #5fd326;
  --secondary-color: #333;
  --success-color: #4caf50;
  --error-color: #f44336;
  --info-color: #2196f3; /* Agregar color para notificaciones de información */
  --background-color: #f4f4f4;
  --text-color: #34495e;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e68900;
}

.message {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 480px) {
  .container {
      padding: 1rem;
  }

  input[type="text"],
  input[type="number"],
  select,
  button {
      font-size: 0.9rem;
  }
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
}

.notification.success {
  background-color: var(--success-color);
}

.notification.error {
  background-color: var(--error-color);
}

.notification.info {
  background-color: var(--info-color); /* Estilo para notificaciones de información */
}